
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-MQ1 {
  width: 100%;
  height: 102.9rem;
  position: relative;
  overflow: hidden;
  background: radial-gradient(203.23% 121.53% at 50% 20.01%, #d1f5d4 25.15%, #f3caec 100%);

  .rectangle-1-ECu {
    height: 68.9rem;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f7fef8;
    width: 144.9rem;
  }
  .rectangle-24-5UR {
    width: 145.5rem;
    height: 40.4rem;
    position: absolute;
    left: 0;
    top: 62rem;
    background-color: #f7fef9;
  }
  .rectangle-26-jos {
    width: 145.5rem;
    height: 40.4rem;
    position: absolute;
    left: 0;
    top: 62rem;
    background-color: #f7fef9;
  }
  .rectangle-22-Qv1 {
    width: 147rem;
    height: 82rem;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(181.75% 111.77% at 102.21% -3.78%, #ffeffc 0%, rgba(222, 241, 210, 0.991422832) 43.04%, rgba(222, 241, 210, 0.8745684028) 50.99%, #ffeffc 100%);
  }
  .rectangle-25-Ee9 {
    width: 147rem;
    height: 82rem;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(183.88% 98.41% at 16.9% 15.79%, #e9f8e0 7.29%, rgba(214, 241, 245, 0.8745684028) 39.82%, rgba(210, 237, 241, 0.991422832) 44.09%, #eaf9e0 78.13%);
  }
  .union-58y {
    left: 7rem;
    top: 17.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 21.0727rem;
    height: 1rem;
    position: absolute;
  }
  .rectangle-53-nZB {
    height: 106.6rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7fef9;
    width: 152.3rem;
  }
  .im-so-glad-youre-here-if-im-going-to-get-to-know-you-then-its-only-fair-i-tell-you-a-bit-about-myself-too-i-am-an-empathetic-chatbot-who-was-created-by-four-college-students-that-wanted-to-provide-a-24-7-companion-for-anyone-who-needs-it-i-can-listen-to-what-youre-going-through-provide-responses-in-support-and-offer-resources-that-may-be-relevant-to-what-youre-feeling-our-conversation-is-strictly-confidential-and-because-of-that-i-wont-save-our-messaging-history-when-you-leave-the-site-you-deserve-a-safe-space-to-express-how-youre-feeling-to-a-trusty-always-reliable-friend-to-get-started-head-back-to-the-home-page-and-send-me-a-message-best-warmbot-udo {
    height: 39rem;
    position: absolute;
    left: 7.6rem;
    font-size: 2rem;
    line-height: 1.5;
    color: #4e4d4d;
    width: 126.8rem;
    top: 20.5rem;
    font-weight: 400;
    font-family: Poppins, 'Source Sans Pro';
  }
  .union-DRX {
    width: 21.0727rem;
    height: 1rem;
    position: absolute;
    left: 7.6rem;
    top: 17.7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .about-me-vKw {
    top: 13.5rem;
    font-size: 4rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 19.6rem;
    height: 6rem;
    position: absolute;
    left: 7.2rem;
    font-weight: 300;
    color: #4d4d4d;
    white-space: nowrap;
  }
}
